* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-cont {
  max-width: 800px;
  position: relative;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  margin-bottom: 150px;
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 75%;
}
